<div class="auth">
  {{#if errorMessage}}
    <small class="error">
      {{errorMessage}}
    </small>
  {{/if}}
  <form action="/new-password" method="POST" class="auth__form">
    <input type="password" name="password" placeholder="New password" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="hidden" name="user_id" value="{{userId}}" />
    <input type="hidden" name="token" value="{{token}}" />
    <button type="submit">
      Change Password
    </button>
  </form>
</div>