<div class="auth">
  {{#if errorMessage}}
    <small class="error">
      {{errorMessage}}
    </small>
  {{/if}}
  <form action="/reset" method="POST" class="auth__form">
    <input type="email" name="email" placeholder="Email" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <button type="submit">
      Reset Password
    </button>
  </form>
</div>