<header>
  <nav class="header__nav container">
    <div class="header__nav-logo">
      <a href="/">
        Logo
      </a>
    </div>
    <ul class="header__nav-menu">
      {{#unless isLogged}}
        <li>
          <a href="/login">
            {{{feather "user"}}}
          </a>
        </li>
      {{/unless}}
      {{#if isLogged}}
        <li>
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <button type="submit" id="logout">
              Logout
            </button>
          </form>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>