<header>
  <nav class="header__nav container">
    <div class="header__nav-logo">
      <a href="/">
        Logo
      </a>
    </div>
    <ul class="header__nav-menu">
      <li>
        <a href="/login">
          <i class="fas fa-user-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>